@page "/CertificatesAndCourses"
<link rel="stylesheet" href="~/css/base.css" />
<link rel="stylesheet" href="~/css/basic-grid.css" />
<h1>Professional Certifications, and Training Completed</h1>
<h3>
    <a href="https://www.youracclaim.com/badges/6c84f5ef-7e20-4373-be7e-a11dc4820599/public_url" target="_blank">
        Microsoft Certified Professional: C#
    </a>
</h3>
<p>
    Exam 483: Programming in C#. In this exam I Demonstrated the following skills: Application Developer,
    C# Programming, Data Query, Data Security, Data Validation, LINQ, Object-based Programming, Software Development,
    Visual Studio, Web Applications, Web Developer.
</p>

<h3>Improving Your Project Management Skills: The Basics for Success</h3>
<p>
    This course was taken throuth the American Management Association (AMA) while I was an Implementation
    Specialist at Windward Software.
</p>

<h1>Microsoft Virtual Academy (MVA) Courses</h1>
<p>Please note that the Microsoft Virtual Academy has been retired and is no longer available.</p>

<h3>Advanced Tools &amp; Scripting with PowerShell 3.0 Jump Start</h3>
<p>The power of PowerShell really shines through in this course. And the presenters were awesome.</p>

<h3>Deploying Web Apps to Azure App Service</h3>
<p>Useful course in learning more about Continuous Integration / Continuous Deployment (CI/CD)</p>

<h3>Getting Started with Microsoft PowerShell</h3>
<p>A great place to start learning more about the fundamentals of PowerShell, and where to get information.</p>

<h2>From Microsoft Partner University (MPN)</h2>
<p>Click on the course titles below to see a PDF transcript of the course.</p>
<h5><a href="/pdfs/MPN8883.pdf" target="_blank">Technical Boot Camp (SMB): Tech Series (Cloud Sure Step) (MPN8883)</a></h5>
<h5><a href="/pdfs/MPN16068.pdf" target="_blank">Microsoft Azure Cloud Solution Partner - PowerShell (MPN16068)</a></h5>
<h5><a href="/pdfs/MPN16571.pdf" target="_blank">Hosting Windows Desktop and Applications using Remote Desktop Services in Azure (MPN16571)</a></h5>
<h5><a href="/pdfs/MPN2176.pdf" target="_blank">Datacenter in Cloud Platform for Technical (MPN2176)</a></h5>

<h2>Personal Interest Courses from the Microsoft Partner University</h2>
<p>
    Click on the links to see a list of all additional courses I spent time on. Both links below point to the same
    PDFdocument. Some are partially completed, and other also appear above because they were assigned learning
    after I had already began working on them for self directed learning.
</p>
<h5><a href="/pdfs/MPNPersonalInterestAndPartialCompletion.pdf" target="_blank">Automation and Powershell in Azure for SI Practice Leads and Solution Architects (L200) (MPN11035)</a></h5>
<h5><a href="/pdfs/MPNPersonalInterestAndPartialCompletion.pdf" target="_blank">Automation and Powershell in Azure for SI Prictice Leads and Solution Architects (L300) (MPN11036)</a></h5>



@code {

}
