@page "/Contact"
<link rel="stylesheet" href="~/css/base.css" />
<link rel="stylesheet" href="~/css/basic-grid.css" />
<h1>Contact Information</h1>

<img src="/Images/ProfilePic.JPG" height="332" width="240" />
<li>
    Work Phone - (Main Contact): +1 (250) 486-8313
</li>
<li>
    Instant Messages: +1 (250) 486-7712
</li>
<li>
    email: cliff@cmArtMe.com
</li>
<li>
    linked in: <a href="https://www.linkedin.com/in/clifford-mackay-05401821" target="_blank">https://www.linkedin.com/in/clifford-mackay-05401821</a>
</li>
<li>
    git: <a href="https://github.com/kaeaddaar" target="_blank">https://github.com/kaeaddaar</a>
</li>

<li>
    I am located in Penticton, British Columbia (BC), Canada
</li>

@code {

}
