@page "/Rates"
<h3>Billing Rates</h3>
<li>$80 per hour</li>
<li>$5 per hour discount on hour after 10 hours of additional time spent. (As low as $65 per hour)*</li>
<li>* Special project rates as low as $60 per hour</li>


@code {

}
