@page "/Resume"

<link rel="stylesheet" href="~/css/base.css" />
<link rel="stylesheet" href="~/css/basic-grid.css" />
<div class="text-center">
    <h1 class="display-4">Resume</h1>
    <!--    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script> -->

    <div class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="clifford-mackay-05401821/"><a class="LI-simple-link" href='https://www.linkedin.com/in/clifford-mackay-05401821?trk=profile-badge'>Linked In: Clifford MacKay</a></div>

    <p>Quick link to my Github account. a put a few projects here: <a href="https://github.com/kaeaddaar" target="_blank">My Github account</a></p>

    <h1>Who am I Professionally?</h1>
    <p>
        Think of me as a super-geek but down to earth and easy to talk to. I love to solve problems.
        I excell at bringing companies to the next level.
        I find it incredibly rewarding to enrich the experiences of my customers. I simply make things
        better, and in ways you may have never thought of. I have had many technical roles over the years.
        Whether it be solving an account problem, making inventory easier at year end, building a technical
        solution, or simply bringing the level of your staff up a notch, I am here to help.
    </p>
    <p>
        I started programming in elementary school using Logo starting in grade 5. Logo is an educational
        programming language where you tell a turtle what to do. I did drawing, animation, and created bitmaps.
        Then I moved on to Atari Basic storing my apps on audio tapes. In high school I wrote batch files.
    </p>

    <h3>Programmer and Software Engineer</h3>
    <p>
        As a programmer most of my roles involved writing in a specific programming language. Here is a list of the
        languages I spent a significant amount of time working in.
    </p>

    <h5>C# (Certified in 2018)</h5>
    <p>
        I am a self taught C# programmer who build a 3D game from scratch to learn the "Basics". I also learnt
        by doing Microsoft Virtual Academy (VMA) courses, you tube, and other sites for research. During my recent
        experience at Windward Software our engineering team began training and getting certification in C# through
        Microsoft. I used this as review, and to expand my skills as well as a great opportunity to get certified.
    </p>

    <h5>Delphi</h5>
    <p>
        Working on a 2+ Million line code base within a monalithic application and it's supporting applications.
        Writing new features &amp; maintaning the existing software, as well as performing code reviews for code
        written by our software engineers. Using git to manage source control, and a CI/CD pipeline in Azure.
    </p>

    <h5>Visual Basic (VB6)</h5>
    <p>
        I loved to write VB desktop apps while attending the University College of the Cariboo, and got work
        writing point of sale (POS) software.
    </p>

    <h5>Visual Basic WebClasses (VB6)</h5>
    <p>
        Working in the banking industry, I build a proof of concept (POS) app using VB WebClasses to create a 3-tier
        application using distributed communications (DCOM) to increase scalability.
    </p>

    <h5>Classic ASP</h5>
    <p>
        I was originally introduced to Active Server Pages (ASP) as a way to write custom functionality for e-commerce
        web sites. I then built an e-commerce web site that integrated directly into the database from our POS system.
    </p>

    <h5>Visual Basic for Applications (Excel applications)</h5>
    <p>
        I am an excel master. I use excel as a development environment to write Visual Basic for Applications (VBA)
        functionality. I often save customers crazy amounts of time (ex: 15 minutes to save several weeks of data entry).
        Whether writting macro's, or entire applications, Excel VBA is a great tool to do development when other tools
        are not appropriate or available.
    </p>

    <h5>COBOL</h5>
    <p>
        Yes, I was once of those guys who learnt COBOL in school. I also spent 6 months working professionally as
        a COBOL Developer on a point of sale system.
    </p>

    <h1>Other technical roles</h1>
    <h3>Advanced Support Technician</h3>
    <p>
        As a go-to resource, I provide top shelf technical support in a wide variety of IT support areas. I am an
        application specialist in Windward System Five, and the family of products provided by Windward Software. I
        troubleshoot hardware, software, networks, and operating systems in order to identify problems and find
        solutions. I provide support and training to staff in order to help bring them up to speed, or simply to assist
        with difficult problems
    </p>

    <h3>Implementation Specialist</h3>
    <p>
        Trainer, Project Manager, Consultant, Solution Builder, and Application Specialist are all part of what
        I provide as service to customers as an Implementation Specialist. I provide tailored training and provide
        best practices solutions for each clients custom needs. I assist in getting clients operational based on their needs
        and resources with a focus on success
    </p>

    <h3>Pulishing, Computer Training, Event Management, and Web Design</h3>
    <p>
        I have had various work in these areas working for Community Futures Kamloops, City of Oliver, Winters
        Office Supplies, Digital Office Solutions, and various small jobs &amp; projects
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
